<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438649866929-ja3k98l7jlqpem60ajb0j3kiaa7us0sa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438649866929-ja3k98l7jlqpem60ajb0j3kiaa7us0sa</string>
	<key>API_KEY</key>
	<string>AIzaSyChw5ycMiXOf6cVcGkan9M2HOP-tmCY5j0</string>
	<key>GCM_SENDER_ID</key>
	<string>438649866929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutterslides</string>
	<key>PROJECT_ID</key>
	<string>flutter-interact-slideplayer</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-interact-slideplayer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438649866929:ios:8c325b58f33de3df593090</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-interact-slideplayer.firebaseio.com</string>
</dict>
</plist>